/* Home.css */

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  
  }
  
  .header-container {
    position: relative;
    width: 100%;
  }
  
  .header-container img {
    width: 100%;
    height: auto;
  }
  
  .message-overlay {
    position: absolute;
    top: 4rem;
    right: 1rem;
    background-color: rgba(255, 218, 185, 0.7); /* Cor pêssego transparente */
    padding: 20px;
    width: 50%;
    z-index: auto;
  }
  
  .main-text {
    color: #333333;
    text-align: center;
    margin-top: 20px;
  }
  
  .categories-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
  }
  
  .category {
    text-align: center;
  }
  
  .category img {
    width: 200px;
    height: auto;
  }
  
  .category p {
    margin-top: 10px;
  }
  