.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .product-card {
    background-color: #F4F5F7;
    border: 1px solid #F4F5F7;
    border-radius: 2px;
    padding: 0;
  }
  
  .product-card img {
    width: 100%;
    height: auto;
    border-radius: 2px;
  }
  
  .product-card h3 {
    margin-top: 10px;
    font-size: 18px;
  }
  
  .product-card p {
    margin-top: 5px;
    font-size: 14px;
    color: #666666;
  }
  button.show-more-button{
    border-style: solid;
    border-color: #B88E2F;
  }
  .show-more-button {
    margin-top: 20px;
    padding: 10px 60px;
    border: 1.5px;
    background-color:#ffffff;
    color:#B88E2F;
    
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .show-more-button:hover {
    background-color: #B88E2F;
    color:#ffffff;
  }
  