/* index.css */

/* Estilos globais */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif; /* Aplicando a fonte Poppins para todo o body */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Importação de outros arquivos CSS */
/*@import url('./header.css');
@import url('./menu.css');
@import url('./body.css');
@import url('./footer.css');
*/